<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets_wjz/bootstrap.min.css"> <!-- Bootstrap style -->
  <link rel="stylesheet" href="/stylesheets/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="/stylesheets/profile.css"> <!-- Gem style -->

  <script src="javascripts/modernizr.js"></script> <!-- Modernizr -->
    
  <title>Symposium</title>
</head>
<body>
   <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

        <div class="dropdown">
        <button class="navbar-toggler navbar-toggler-right dropbtn" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar-collapse-1" class="dropdown-content">
            <ul class="nav navbar-nav navbar-right" >
                <!--
                <a href="#home">Home</a> -->
                {{#if user}}
                    <li class="sampleText">Hi! <strong>{{username}}</strong></li>
                    <a href="/users/profile">Profile</a>
                    <a href="/users/logout">Log Out</a>
                {{else}}
                    <a href="/users/signup">Sign Up</a>
                    <a href="/users/login">Log In</a>
                {{/if}}
                <!--
                <a href="#course-sec">Course</a>
                <a href="#contact-sec">Contact</a>
                -->
            </ul>
        </div>
        </div>


        <a class="navbar-brand" href="/">Symposium</a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <!--
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li> -->
                {{#if user}}
                    <a class="nav-link prompt"> Welcome! {{username}} </a>
                    <li class="nav-item active">

                        <a class="nav-link" href="/users/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Log Out</a>
                    </li>
                {{else}}
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Log In</a>
                    </li>
                {{/if}}
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                -->
            </ul>
        </div>
    </nav>

  <div class="container">
    <h2>My Profile</h1>
    <hr>
  <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="{{user.avatar}}" class="avatar img-circle" name="avatar" alt="avatar">
          <h6>Change your avatar</h6>
          <input type="file" name="avatar" class="form-control">
          <ul>
          <hr>
            <li><a class="classTaken" href="#"> Classes Taken on Symposium </a></li>
          <hr>
            <li><a class="fileDL" href="#"> Files Downloaded </a></li>
          <hr>
            <li><a class="fileUL" href="#"> Files Uploaded </a></li>
          <hr>
            <li><a class="pointHistory" href="#"> Points History </a></li>
          <ul>
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>
        <form class="form-horizontal" role="form" method="post" action="/users/profile">
          <div class="form-group">
            <label class="col-lg-3 control-label">Username:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="username" value={{username}} disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email Address:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="email" value={{email}}>
            </div>
          </div>
          <!-- CURRENT PASSOWORD
          <div class="form-group">
            <label class="col-lg-3 control-label">Current Password:</label>
            <div class="col-lg-8">
              <input class="form-control" type="password" value="">
            </div>
          </div>
          -->
          <div class="form-group">
            <label class="col-lg-3 control-label">New Password:</label>
            <div class="col-lg-8">
              <input class="form-control" type="password" value="" name="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Confirm New password:</label>
            <div class="col-lg-8">
              <input class="form-control" type="password" value="" name="passwordConfirm">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">College / University:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="college" value={{college}}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Major: </label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="major" value={{major}}>
            </div>
          </div>
          
          
          <!-- Reference dropdown ends -->
            </div>
          </div>
          <!-- Below is just to reference dropdown list that may be required for the future purposes
          <div class="form-group">
            <label class="col-lg-3 control-label">Time Zone:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                  <option value="Hawaii">(GMT-10:00) Hawaii</option>
                  <option value="Alaska">(GMT-09:00) Alaska</option>
                  <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                  <option value="Arizona">(GMT-07:00) Arizona</option>
                  <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                  <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                  <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                  <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                </select>
              </div>
            </div>
          </div>
          Reference dropdown ends -->
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <div class="col-md-10">
                <p class="fieldset">
                  <input class="full-width has-padding" type="submit" value="Create account">
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>




  <div class="footer">
    <p>&copy; 2017 Symposium, Inc.</p>
  </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="javascripts/logsign_nav.js"></script> <!-- Gem jQuery -->
</body>
</html>